@{
    var npc = Model.Npc;
}

<!DOCTYPE html>
<html>
<head>
    <title>Npc View</title>
    <style>
        table {
            border-collapse: collapse;
        }
        /*이중선 제거*/
        th, td {
            width: 100px;
            height: 50px;
            text-align: center;
            border: 1px solid #000;
            vertical-align: top; /* 위 */
            vertical-align: bottom; /* 아래 */
            vertical-align: middle; /* 가운데 */
        }
    </style>
    <script>
        setTimeout(function () { location.reload(); }, 1000);
    </script>
</head>
<body>
    <h1>Npc View</h1>
    @if ( npc is null )
    {
        <p>Npc 정보를 불러올 수 없습니다.</p>
    }
    else
    {
        @RenderNpc( npc )
		@RenderMovementComponent( npc )
        @RenderViewComponent( npc )
        @RenderStatComponent( npc )
        @RenderCombatComponent( npc )
    }
</body>
</html>

@functions {

    /// <summary>
    /// 시야 컴포넌트를 렌더링 한다.
    /// </summary>
    string RenderNpc( dynamic npc )
    {
        if ( npc is null )
            return string.Empty;

        return $@"<p>Npc</p>
<table>
    <tr>
        <th scope='row'>Name</th>
        <td>{npc.Name}</td>
    </tr>
    <tr>
        <th scope='row'>DesignId</th>
        <td>{( npc.Design is null ? 0 : npc.DesignId )}</td>
    </tr>
    <tr>
        <th scope='row'>WakeUpState</th>
        <td>{npc.WakeUpState}</td>
    </tr>
    <tr>
        <th scope='row'>Job Count</th>
        <td>{npc.RemainJobCount}</td>
    </tr>
    <tr>
        <th scope='row'>AiState</th>
        <td>{npc.Ai.CurState.State}</td>
    </tr>
</table>";
    }

    /// <summary>
    /// 무브먼트 컴포넌트를 렌더링 한다.
    /// </summary>
    string RenderMovementComponent( dynamic npc )
    {
        var npcMovement = npc.Movement;
        if ( npcMovement is null )
            return string.Empty;
        return $@"<p>Movement</p>
<table>
    <tr>
        <th scope='row'>Pos</th>
        <td>{npcMovement.Pos.ToString()}</td>
    </tr>
    <tr>
        <th scope='row'>ToPos</th>
        <td>{npcMovement.ToPos.ToString()}</td>
    </tr>
    <tr>
        <th scope='row'>FromPos</th>
        <td>{npcMovement.FromPos.ToString()}</td>
    </tr>
</table>";
    }

    /// <summary>
    /// 시야 컴포넌트를 렌더링 한다.
    /// </summary>
    string RenderViewComponent( dynamic npc )
    {
        if ( npc.View is null )
            return string.Empty;

        return $@"<p>View</p>
<table>
    <tr>
        <th scope='row'>Object Count</th>
        <td>{npc.View.Count}</td>
    </tr>
</table>";
    }

    /// <summary>
    /// 스탯 컴포넌트를 렌더링 한다.
    /// </summary>
    string RenderStatComponent( dynamic npc )
    {
        if ( npc.Stat is null )
            return string.Empty;

        return $@"<p>Stat</p>
<table>
    <tr>
        <th scope='row'>Hp</th>
        <td>{ npc.Stat.Hp }</td>
    </tr>
    <tr>
        <th scope='row'>MoveSpeed</th>
        <td>{ npc.Stat.MoveSpeed}</td>
    </tr>
    <tr>
        <th scope='row'>Power</th>
        <td>{npc.Stat.Power}</td>
    </tr>
</table>";
    }

    /// <summary>
    /// 전투 컴포넌트를 렌더링 한다.
    /// </summary>
    string RenderCombatComponent( dynamic npc )
    {
        if ( npc.Combat is null )
            return string.Empty;

        return $@"<p>Combat</p>
<table>
    <tr>
        <th scope='row'>Target</th>
        <td>{ ( npc.Target is null ? "None" : npc.Target ) }</td>
    </tr>
</table>";
    }
}